name: UADK CI

on:
  pull_request:
    branches: [ '**' ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner:
          - [self-hosted, linux, x64]
          - [self-hosted, linux, arm64]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build and test UADK projects
      run: |
        chmod +x .github/scripts/ci.sh
        .github/scripts/ci.sh
